[tool.poetry]
name = "apis-instance-oebl-pnp"
version = "0.1.0"
description = "APIS instance OEBL"
authors = ["Birger Schacht <birger.schacht@oeaw.ac.at>"]
license = "MIT"
packages = [{include = "apis_ontology"}]


[tool.poetry.dependencies]
python = "^3.11"
psycopg2 = "^2.9"
apis-core = {git = "https://github.com/acdh-oeaw/apis-core-rdf", rev = "v0.22.0"}
apis-highlighter-ng = "^0.4.0"
apis-acdhch-default-settings = "1.0.0"
django-action-logger = "^0.1.5"
django-acdhch-functions = "^0.1.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
