{% extends "apis_entities/edit_generic.html" %}
{% load apis_highlighter %}

{% block scriptHeader %}
{{ block.super }}
<style>
.select2-container--open {
    z-index: 9999999
}
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}
</style>
{% endblock %}

{% block relations %}
{{ block.super }}

<div class="container-fluid mt-4">
  <h2>Texts</h2>
{% for text in instance.texts.all %}
{% if text.text %}
<div class="mt-2">
  <h4>{{ text.kind }}</h4>
  <div class="bg-light border p-2 highlight-text" data-text_object_id="{{text.id}}" data-text_content_type_id="{{text|content_type_id}}">
  {{ text | highlight_text }}
  </div>
</div>
{% endif %}
{% endfor %}
</div>
{% endblock relations %}

{% block scripts %}
{{ block.super }}
<script src="/static/js/highlighter.js"></script>
{% endblock scripts %}
