{% extends "apis_entities/edit_generic.html" %}
{% load apis_highlighter %}

{% block scriptHeader %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/highlighter.css">
{% endblock %}

{% block relations %}
{{ block.super }}

<div class="container-fluid mt-4">
{% select_highlighter_project request %}
  <h2>Texts</h2>
{% for text in instance.texts.all %}
{% if text.text %}
<div class="mt-2">
  <h4>{{ text.kind }}</h4>
  {{ text | highlight_text:request }}
</div>
{% endif %}
{% endfor %}
</div>
{% endblock relations %}

{% block scripts %}
{{ block.super }}
<script src="/static/js/highlighter.js"></script>
{% endblock scripts %}
