{% extends "base.html" %}

{% block content %}
<div class="container">
{% if object_list %}
<ul>
  {% for object in object_list %}
    <li>{{ object.timestamp }} <a href={% url "apis_core:generic:detail" object.content_type object.object_id %}>{{ object }}</a>
    {% if object.action != 2 %}:
      {% for change, values in object.changes_dict.items %}<b>{{ change }}</b>
        {% if values.operation and values.objects %}
          {{ values.operation }} {{ values.objects|join:", " }}
        {% else %}
          "{{ values.0|truncatechars:32 }}" -> "{{ values.1|truncatechars:32 }}"
        {% endif %}
      {% endfor %}
    {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>
{% endblock content %}
