{% extends "apis_core/apis_entities/abstractentity.html" %}
{% load collections %}

{% block scriptHeader %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/oebl.css">
{% endblock %}

{% block card-header-content %}
{{ block.super }}
<div class="text-center">
  <span class="kurzinfo">
    {{ object.oebl_kurzinfo }}
    {% if object.sources.all %}
    <i>
      ({% for source in object.sources.all %}<span title="{{ source.orig_filename }}">{{ source.pubinfo }}</span>
      <a href="https://www.biographien.ac.at/oebl/oebl_{{ source.orig_filename|make_list|first }}/{{ source.orig_filename}}">&#8599;</a>)
      {% endfor %}
    </i>
    {% endif %}
    {% collection_object_collection_by_id object 64 65 %}
  </span>
</div>
{% endblock card-header-content %}
