{% extends "apis_core/apis_entities/abstractentity_form.html" %}
{% load apis_highlighter %}

{% block scriptHeader %}
{{ block.super }}
<script type="text/javascript">
function showmap(element) {
  $('.popover').remove();
  var rect = element.getBoundingClientRect();

  mapdiv = document.createElement("div");
  mapdiv.classList.add("popover");
  mapdiv.setAttribute("id", "popovermap");
  ptop = rect.top + window.scrollY - 250;
  pleft = rect.left + window.scrollX - 550;
  $(mapdiv).offset({top: ptop, left: pleft});
  document.body.appendChild(mapdiv);

  if (typeof map != "undefined") { map.off(); map.remove(); }
  map = L.map('popovermap', { center: [element.dataset.latitude, element.dataset.longitude], zoom: 7 });
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' }).addTo(map);
  L.marker([element.dataset.latitude, element.dataset.longitude]).addTo(map);

};
function delmap(element) {
  $('.popover').remove();
}
</script>
<style>
#popovermap {
  width: 500px;
  height: 500px;
}
</style>
{% endblock %}

{% block col-one %}

{% if object.oebl_haupttext.text %}
<div class="card mb-2">
  <div class="card-header">
  ÖBL Haupttext {% select_highlighter_project request %}
  </div>
  <div class="card-body">
    {{ object.oebl_haupttext | highlight_text:request }}
  </div>
</div>
{% endif %}

{{ block.super }}

<div class="card mt-2">
  <div class="card-header">
  Texts {% select_highlighter_project request %}
  </div>
  {% for text in object.texts.all %}
  {% if text.text and text != object.oebl_haupttext and text != object.oebl_kurzinfo %}
  <div class="mt-2">
    <h4>{{ text.kind }}</h4>
    {{ text | highlight_text:request }}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock col-one %}

{% block scripts %}
{{ block.super }}
{% include "apis_highlighter/apis_highlighter.html" %}
{% endblock scripts %}
